/* v-clock default style */
[v-cloak] {
	display: none;
}

/* adding anchor tag cursor since vuejs does not use href */
a {
	cursor: pointer;
}

/* center vue-pagination */
.pagination {
	justify-content: center;
}

/* remove pagination focus outline */
a.page-link:focus {
    box-shadow: none;
}

/* remove highlighting of pagination button */
.page-item {
	user-select: none;
}

.page-item.disabled {
	cursor: not-allowed;
}

.hidden {
	display: none !important;
}

.card-group .card {
    max-width: 25%;
}